@import url(header.css);

html,body,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
:root {
  --dark: #000000;
  --bluee: #07cccf;
  --pinkee: #d736af;
  --light: #e8e5e5;
  --violetee: #d514d8;
  --greenee: #
}