@import url(header.css);
@import url(buttons.css);
@import url(style.css);

#cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
}
.card {
    width: 30rem;
    height: 48rem;
    margin: 0.5rem;
    border-style: solid;
    border-width: 3px;
    border-color: var(--violetee);
    background-color: var(--cardbacco);
}
.card-img {
    width: 20rem;
    height: 25rem;
}
.card-title {
    font-size: var(--h1);
    padding: 1rem;
    color: var(--cardtxt);
    
}
.card-type {
    font-size: var(--h3);
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--cardtxt);

}
.card-desc {
    font-size: var(--h3);
    padding-left:1rem;
    padding-right:1rem;
    color: var(--cardtxt);
}
.card-country {
    font-size: var(--h3);
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--cardtxt);
}
.card-dabloons {
    font-size: var(--h3);
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--cardtxt);
}
.card-kieranrating {
    font-size: var(--h3);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: var(--cardtxt);
}

/* defines card styles like the image and the text */